<template>
    <div id="vue-search-app" @keyup="keyPress">
        <div>
            <label for="search">{{label}}</label>
            <input type="text" 
                    autocomplete="off" 
                    class="form-control" 
                    id="search" 
                    v-bind:value="value"
                    @input="search"
                    v-if="isSelectionMade == false"
                    >
            <div v-else id="selection" class="form-control cursor-none" disabled>{{searchValue}}
                <span class="close-icon" @click="unMakeSelection"></span>
            </div>
        </div>
        <p v-show="searching">
            Searching for: {{searchValue}}
            <i class="fa fa-spinner fa-spin"></i>
        </p>
        <ul v-show="isOpen" class="list-group search-results vue-auto-search-results">
                <li class="list-group-item" v-bind:class="{active: item.isActive}" v-for="(item, key) in results" :key="item[recordName]" @click="setActiveIndex(key); selectionMade();">
                    {{ item[recordName] }}
                </li>
        </ul>
    </div><!-- END APP CONTAINER -->
</template>

<script>
export default {
    name: "VueAutoSearch",
    props: ["value", "minimumSearchLength", "label", "records", "recordName", "maxItems"],
    data() {
        var searchValue = this.value;
        return {
            query: '',
            searchValue: searchValue,
            results: [],
            isOpen: false,
            isSelectionMade: false,
            minimumSearch: this.minimumSearchLength || 1, //default of 1 character to trigger search
            previousQ: '',
            activeIndex: 0,
            maxQuerySize: 10,
            searching: false,
            semesters: [],
            selectedEntry: { //placeholder -- to be filled when someone is selected
                "isActive":false,
                //...
            },
            version: "1.0.18"
        }
    },
    methods:{
        keyPress: function(event) {
            this.updateActiveIndexByKeyPress(event);
        },
        search: function(event) {
            this.searchValue = event.target.value;
            this.textChanged();
            _.debounce(this.debouncedSearch, 1000)();
        },
        debouncedSearch: function(a1) {            
            //don't run query if less than x characters
            if(!this.minimumLengthRequirement(this.searchValue)) { return; }
            
            //don't run query if it hasn't changed (control keys?)
            if(this.previousQ == this.searchValue) { return; }
            
            //run ldap query (and abort in-flight queries)
            this.runQuery(this.searchValue);
        },
        runQuery: function(q) {
            this.searching = true;
            this.isOpsen = false;
            let recName = this.recordName;
            this.results = this.records.filter( item => item[recName].toLowerCase().includes(q.toLowerCase()) );
            if(this.maxItems) {
                this.results = this.results.slice(0,this.maxItems);
            }
            this.clearActiveIndex();
            this.searching = false;
            this.isOpen = true;
        },
        minimumLengthRequirement: function(q) {
            return this.searchValue.length >= this.minimumSearch;
        },
        updateActiveIndexByKeyPress: function(event) {
            var newIndex = this.activeIndex;
            if (event.key == 'ArrowDown') {
                newIndex = (this.activeIndex + 1) % this.results.length;
            } else if (event.key == 'ArrowUp') {
                newIndex--;
                if (newIndex < 0) {
                    newIndex = this.results.length - 1;
                }
            } else if (event.key == 'Enter') {
                this.selectionMade();
            } else if (event.key == 'Escape') {
                this.unMakeSelection();
            }
            this.setActiveIndex(newIndex);
        },
        textChanged: function() {
            this.$emit('input', this.searchValue);
        },
        selectionMade: function() {
            this.isOpen = false;
            this.searchValue = this.selectedEntry[this.recordName];
            this.isSelectionMade = true;
            this.$emit('input', this.searchValue);
            this.$emit('select', this.selectedEntry);
        },
        setActiveIndex: function(i) {
            var initialIndex = this.activeIndex;
            this.activeIndex = i;
            
            if(this.results[initialIndex]) {
                this.results[initialIndex]['isActive'] = false;
                this.$set(this.results, initialIndex, this.results[initialIndex]);
            }
            
            if(this.results[i]) {
                this.results[i]['isActive'] = true;
                this.selectedEntry = this.results[i];
                this.$set(this.results, i, this.results[i]);
            }
        },
        clearActiveIndex: function(i) {
            var initialIndex = this.activeIndex;
            this.activeIndex = -1;
            if(this.results[initialIndex]) {
                this.results[initialIndex]['isActive'] = false;
                //since vue can't detect child array changes
                this.$set(this.results, initialIndex, this.results[initialIndex]);
            }
        },
        unMakeSelection: function() {
            this.isSelectionMade = false;
            
            this.searchValue = "";
            this.$emit('clear-text');
        }
    },
    mounted: function () {
        // document.addEventListener('keyup', this.keyPress);
    }
};
</script>

<style>
#selection {
    position: relative;
}

.close-icon
{
  /* https://stackoverflow.com/a/20139794/1243508 */
  position: absolute;
  top: 5px;
  right: 10px;
  box-sizing:border-box;
  width:20px;
  height:20px;
  border-width:3px;
  border-style: solid;
  border-color:#e3e3e3;
  border-radius:100%;
  background: -webkit-linear-gradient(-45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%), -webkit-linear-gradient(45deg, transparent 0%, transparent 46%, white 46%,  white 56%,transparent 56%, transparent 100%);
  background-color:#e3e3e3;
  /* box-shadow:0px 0px 5px 2px rgba(0,0,0,0.5); */
  transition: all 0.3s ease;
}

ul.vue-auto-search-results {
    max-height: 40em;
    overflow: scroll;
}

</style>
